body{
    margin: 0;
}
.parent{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.par{
    min-height: 50px;
    display: flex;
    flex-direction: row;
}
.p1{
    justify-content:space-around;
}
.p2{
    justify-content:center;
}
.p3{
    justify-content:space-between;
}